/* //////////// */
.list {
    padding: 20px;
    list-style: none; 
    width: 300px;     
}

.item {
    display: flex;
    align-items: center; 
    padding: 10px 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
    border: 1px solid #eeeeee; 
    margin-top: 15px;
}


.span {
    width: 15px;
    height: 15px;
    border-radius: 50%;   
    margin-right: 15px;  
}

.isOnline {
    background-color: green;
}

.isOffline {
    background-color: red;
}


.img {
    width: 60px;
    height: 60px;
    border-radius: 8px;  
    object-fit: cover;   
}


.text {
    font-size: 24px;     
    font-weight: 500;
    margin-left: 20px;
    color: #000000;
}