.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  color: #ffffff;
}

.item:nth-child(5n + 1) { background-color: #4fc3f7; } /* 1-й блок */
.item:nth-child(5n + 2) { background-color: #a046f5; } /* 2-й блок */
.item:nth-child(5n + 3) { background-color: #e64a64; } /* 3-й блок */
.item:nth-child(5n + 4) { background-color: #20b2aa; } /* 4-й блок */
.item:nth-child(5n + 5) { background-color: #f4a460; } /* 5-й блок */

.status {
  font-size: 14px;
  margin-bottom: 5px;
}

.badge {
  font-size: 22px;
  font-weight: bold;
}
