
.history {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: sans-serif;
}


.thead {
  background-color: #00bcd5; 
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.item {
  padding: 15px;
  border: 1px solid #e0e6e7;
}


.tbody {
  color: #768691; 
  text-align: center;
}


.list2 {
  background-color: #ffffff;
}


.list2:nth-child(even) {
  background-color: #ecf1f3; 
}


.item2 {
  padding: 12px;
  border: 1px solid #e0e6e7;
  font-size: 14px;
}


.item2:first-child {
  text-transform: capitalize;
}