.section {
  width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  outline: 1px solid rgba(211, 211, 211, 1);
}

.title {
  padding: 30px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #474747;
}